.post-406dfbf3-d1ee-41e9-8c37-a82d1d7d9126 {
  --title: 'test';
  --author: 'this';
  --content: 'that';
}

.post-606695b7-53e4-4a8c-8d3e-d8aa1061ab58 {
  --title: 'This is a title';
  --author: 'Snappy McGee';
  --content: 'the other';
}
